* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #0d1224;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
}

body {
  width: 80dvw;
}